.main-content__row.isPost {
  display: flex;
}

.sidebar.main-content__left.isPost {
  position: relative;
  width: 100%;
  max-width: 350px;
  padding: 24px;
  border-right: 1px solid #ddd;
}

.main-content__right.isPost {
  width: 100%;
}

.o-single-post-block {
  &__wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0;
    padding: $gutter2-l $gutter-l;
    min-height: 100vh;

    @media (max-width: $phone-landscape) {
      padding: $gutter2-l 0;
    }
  }

  &__meta {
    margin-bottom: 40px;
  }

  &__title {
    font-size: $font-xxxl;
    font-weight: bold;
    margin: 0;
    margin-bottom: $gutter-l;
    padding-bottom: $gutter-m;
    border-bottom: 1px solid $grey-100;

    @media (max-width: $large-phone) {
      font-size: $font-xxl;
    }
  }

  &__footer {
    padding-top: $gutter-m;
    padding-bottom: $gutter-m;
  }
}