.m-breadcrumb {
  &__wrapper {
    margin-bottom: $gutter-s;
  }

  &__separator {
    margin: 0 $gutter-xs;
    opacity: 0.7
  }

  &__item {
    color: $dark-100;
    opacity: 0.5;
    font-size: $font-xs;

    &:hover {
      opacity: 0.9;
    }

    &--current {
      font-weight: bold;
    }
  }
}