.m-post-card {
  &__wrapper {
    position: relative;
    transition: all 0.5s ease;
    background-color: $light-100;
    overflow: hidden;


    @media (min-width: $tablet) {
      &:hover {
        box-shadow: 0 2px 25px 0.5px $dark-25;
        transition: all 0.35s;
        transform: translateY(-3px);
      }
    }
  }

  &__header {
    position: relative;
  }

  &__image {
    width: 100%;
    padding-bottom: 64%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $bg-default;
  }

  &__label-holder {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: $gutter-xs $gutter-s;
    left: 0;
  }

  &__body {
    padding: $gutter-s;
  }

  &__title {
    margin: 0;
    font-size: $font-m;
    color: $dark-100;
  }

  &__footer {
    padding: $gutter-xs $gutter-s
  }
}