.sidebar.main-content {
  &__right {
    position: fixed;
    top: 0;
    padding-top: calc(#{$gutter-m} + 60px);
    left: 0;
    max-width: 375px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid $grey-100;
    padding-right: $gutter-m;
    padding-left: $gutter-m;
  }
}